.index-category {
  width: 100%;
  padding: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
}

.index-category-title {
  flex-basis: 100%;
  text-align: center;
  font-size: 2.2rem;
  font-weight: bolder;
  max-width: none;
}

.index-category-box {
  position: relative;
  width: calc(100% / 3 - 20px);  /* Allows 3 boxes per row */
  height: auto;
  background-color:#201f1f;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2.0rem;
}

.index-category-link {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.index-category-link img {
  display: block;
  width: 100%;
  max-height: 100%;  /* Updated to 100% */
  object-fit: cover;
}

.index-category-description {
  
  color: white;
  
  text-align: center;
  padding: 0.5em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  max-width: 90%;
}

.dark-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #201f1f;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.index-category-link:hover .dark-overlay {
  opacity: 0.9;  /* Make it darker when hovered */
}

.index-category-link:hover .index-category-description {
  opacity: 1;
}
